{% raw%}{% load webpack_loader static %}{% endraw %}

<!DOCTYPE html>
<html>
<head>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}
    
  {% endblock title %}</title>

  {% block head_styles %}
    {% raw %}{% stylesheet_pack 'app' %}{% endraw %}
  {% endblock head_styles %}

  {% block head_scripts %}{% endblock head_scripts %}
  
</head>
<body class="{% block body_classes %}{% endblock body_classes %}">

{% block nav %}{% endblock nav %}

{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}

{% block bottom_scripts %}
  {% raw %}{% javascript_pack 'app' %}{% endraw %}
{% endblock bottom_scripts %}

</body>
</html>